
body {
     background-color: black;
     overflow: hidden;
     margin: 0;
     padding: 0;
}

.wall-area{
    position: absolute;
    width: 100%;
    height: 50%;
}

.artboard-background {
    max-width: 100%;
    z-index: -99;
    height: auto;
    top: 8.95%;
    position: absolute;
    overflow:hidden;
}

.labs-video {
    top: 8.95%;
    position: absolute;
    width: 100%;
    height: auto;
}

.bubblegroup1 {
  max-width: 100%;
  z-index: -1;
  height: auto;
  position: absolute;
  top: 9%;
  overflow:hidden;
	-webkit-animation: fade 30s linear forwards infinite;
     animation: fade 30s linear forwards infinite ;
}

.bubblegroup2 {
  max-width: 100%;
  z-index: -1;
  height: auto;
  position: absolute;
  top: 9%;
  overflow:hidden;
	-webkit-animation: fade 30s linear forwards infinite;
     animation: fade 30s linear forwards infinite ;
     animation-delay: 7.5s;
}

.bubblegroup3 {
  max-width: 100%;
  z-index: -1;
  height: auto;
  position: absolute;
  top: 9%;
  overflow:hidden;
	-webkit-animation: fade 30s linear forwards infinite;
     animation: fade 30s linear forwards infinite ;
     animation-delay: 15s;
}

/* Large cloud above mountain */
.cloud1 {
    position: absolute;
    height: 200px;
    width: auto;
    animation-name: cloud-drift1;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
/* Large cloud above mountain */
.cloud5 {
    position: absolute;
    height: 120px;
    width: auto;
    animation-name: cloud-drift5;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
/* Small cloud above mountain */
.cloud2 {
    position: absolute;
    height: 150px;
    width: auto;
    animation-name: cloud-drift2;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
/* Small cloud next to helicopter */
.cloud3 {
    position: absolute;
    height: 100px;
    width: auto;
    animation-name: cloud-drift3;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.cloud4 {
    position: absolute;
    height: 180px;
    width: auto;
    animation-name: cloud-drift4;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.cloud5 {
    position: absolute;
    height: 120px;
    width: auto;
    animation-name: cloud-drift5;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.elevator {
    position: absolute;
    height: 25px;
    width: 18px;
    animation-name: elevator-movement;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.flag {
    position: absolute;
    height: 10px;
    width: 20px;
    top: 77.9%;
    left: 36.4%;
}

.wave{
    position: absolute;
    top: 120%;
    left: 94%;
    width: 51px;
    animation-name: wave-movement;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.wave2{
    position: absolute;
    width: 51px;
    animation-name: wave2-movement;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.tree1{
    position: absolute;
    top: 36%;
    left: 31.38%;
    width: 22px;
}
.tree2{
    position: absolute;
    top: 38.2%;
    left: 30.75%;
    width: 22px;
}
.tree3{
    position: absolute;
    top: 43.4%;
    left: 29.26%;
    width: 22px;
}
.tree4{
    position: absolute;
    top: 41.4%;
    left: 28.5%;
    width: 24px;
}
.tree5{
    position: absolute;
    top: 38.8%;
    left: 38.5%;
    width: 27px;
}
.tree6{
    position: absolute;
    top: 41.8%;
    left: 39.36%;
    width: 27px;
}
@keyframes cloud-drift1 {
    0%   {left:30.2%; top:14.8%;}
    50%  {left:50.2%; top:14.8%;}
    100% {left:30.2%; top:14.8%;}
}
@keyframes cloud-drift2 {
    0%   {left:35.2%; top:27.8%;}
    50%  {left:42.2%; top:27.8%;}
    100% {left:35.2%; top:27.8%;}
}
@keyframes cloud-drift3 {
    0%   {left:60.2%; top: 76.8%;}
    50%  {left:70.2%; top: 76.8%;}
    100% {left:60.2%; top: 76.8%;}
}
@keyframes cloud-drift4 {
    0%   {left:70.2%; top: 74.8%;}
    50%  {left:80.2%; top: 74.8%;}
    100% {left:70.2%; top: 74.8%;}
}
@keyframes cloud-drift5 {
    0%   {left:17.2%; top:17.8%;}
    50%  {left:29.2%; top:17.8%;}
    100% {left:17.2%; top:17.8%;}
}
@keyframes elevator-movement {
    0%   {left:36%; top:109%;}
    50%  {left:36%; top:91.8%;}
    100% {left:36%; top:109%;}
}
@keyframes wave-movement {
    0%   {left:94%; top:119%;}
    50%  {left:96%; top:119%;}
    100% {left:94%; top:119%;}
}
@keyframes wave2-movement {
    0%   {left:94.5%; top:121.5%;}
    50%  {left:95.5%; top:121.5%;}
    100% {left:94.5%; top:121.5%;}
}

.ic {
  position: absolute;
  left: 37.2%;
  top: 44.8%;
  width: 1.4%;
  z-index: -1;
}

#people {
    top: 0;
    position: relative;
    max-width: 100%;
    z-index: -98;
    height: auto;
}

#audio {
	width: 0;
	height: 0;
	border: 0;
}

img.individual-item{
    position: absolute;
}

img.individual-item.hide {
    visibility: hidden;
}

.hidden {
	display: none;
}

.imageBackground {
	background-color: red;
	padding: 10px;
}
/* SAP building (women in management) */
.img0 {
    position: absolute;
    left: 45%;
    top: 66%;
    width: 11%;
    z-index: 2;
    /* opacity: 0.9; */
}
/*BWN Business Women's Network */
.img1 {
    position: absolute;
    left: 43.2%;
    top: 96%;
    width: 7%;
    background-color: white;
    padding-bottom: 30px;
    padding-left: 4px;
    padding-right: 12px;
    /* opacity: 0.9; */
}
/* Sea to Sky / Mountain */
.img2 {
    position: absolute;
    left: 55.95%;
    top: 67.9%;
    width: 11.8%;
    background-color: white;
    padding-right: 52px;
    z-index: 3;
    /* opacity: 0.9; */
}
/*Tree: SAP Intern Committee / Spring into Service */
.img3 {
    position: absolute;
    left: 39.7%;
    top: 10%;
    width: 10%;
    background-color: #ffffff00;

    /*     padding-left: 19px;
    padding-bottom: 69px;
    opacity: 0.9; */
}
/*Toastmasters / Megaphone */
.img4 {
    position: absolute;
    left: 42.1%;
    top: 17.7%;
    width: 8.3%;
    /* opacity: 0.9; */
}

/* d-shop*/
.img5 {
    position: absolute;
    left: -3%;
    top: 67.7%;
    width: 21%;
    background-color: #ffffff00;
    padding-left: 75px;
    /* opacity: 0.9; */
}
/* Bike to work */
.img6 {
    position: absolute;
    left: 25.30%;
    width: 7.84%;
    top: 9%;
    background-color: white;
    padding-left: 40px;
    padding-right: 66px;
    padding-bottom: 82px;
    z-index: 2;
    /* opacity: 0.9; */
}
/* Green team / Trash can*/
.img7 {
    position: absolute;
    left: 17.2%;
    top: 102.6%;
    width: 10.8%;
    background-color: white;
    padding-right: 2px;
    /* opacity: 0.9; */
}
/* Pancake breakfasts / Thirsty Thursday */
.img8 {
	position: absolute;
	left: 24.5%;
	top: 70.9%;
	width: 10%;
	height: 33%;
  /* opacity: 0.9; */
}
/* beaker */
.img9 {
	position: absolute;
    top: 39%;
    left:-0.3%;
    background-color: #ffffff00;
    width: 9.55%;
    /* opacity: 0.9; */
}
/* satellite */
.img10 {
    position: absolute;
    left: 16%;
    top: 15.5%;
    width: 10%;
    /* opacity: 0.9; */
}
/* Top 100 Employer / Trophy */
.img11 {
    position: absolute;
    top: 69.3%;
    left: 0.7%;
    width: 13%;
    height: 28%;
    background-color: white;
    padding-bottom: 35px;
    /* padding-right: 90px; */
    padding-left: 45px;
    /* opacity: 0.9; */
}

.img12 {

}

.img13 {
    position: absolute;
    left: 61.3%;
    top: 92.1%;
    width: 14.0%;
    z-index: 2;
    /* opacity: 0.9; */
}

.img14 {
    position: absolute;
    left: 67.2%;
    top: 64.7%;
    width: 10%;
    background-color: white;
    padding-left: 55px;
    /* opacity: 0.9; */
}
/* Pride / heart */
.img15 {
    position: absolute;
    left: 81.2%;
    top: 57.7%;
    width: 10.4%;
    /* opacity: 0.9; */
}
/* SAP Labs Canada Rocks */
.img16 {
   position: absolute;
   left: 61%;
  top: 45%;
  width: 14.8%;
  background-color: white;
  padding-bottom: 0px;
  opacity: 0.9;
}
/* SAC SAP Analytics Cloud */
/* .img17 {
	position: absolute;
    left: 72.5%;
    top: 9%;
    width: 12%;
    padding-bottom: 64px;
    background-color: white;

} */
.img17 {
	position: absolute;
    left: 76.6%;
    top: 24%;
    width: 6.9%;
    height: auto;
    padding-bottom: 64px;
    background-color: white;
}
/* Science World Girlsmart4tech */
.img18 {
  position: absolute;
  left: 82.5%;
  top: 94.7%;
  width: 15.6%;
  background-color: white;
  padding-right: 13px;
    /* opacity: 0.9; */
}
/* Autism at Work / Bird */
.img19 {
    position: absolute;
    left: 87.5%;
    top: 13.2%;
    width: 13%;
    background-color: white;
    padding-bottom: 34px;
    /* opacity: 0.9; */
}
/* Partners for Life / blood drive / Hospital */
.img20 {
    position: absolute;
    left: 75.7%;
    top: 67.3%;
    width: 7.5%;
    height: 33.7%;
    background-color: white;
    padding-top: 21px;
    padding-left: 33px;
    /* opacity: 0.9; */
}

.img21 {

}

.img22 {

}

.img23 {
    position: absolute;
    left: 39.3%;
    top: 68%;
    width: 19.8%;
    background-color: white;
    padding-bottom: 43px;
    z-index: 4;
    /* opacity: 0.9; */
}
/* iXP */
.img24 {
	 position: absolute;
    left: 61%;
    top: 18%;
    width: 11.8%;
    background-color: white;
    padding-bottom: 26px;
    /* opacity: 0.9; */
}
.fade {
      -webkit-animation: fadeinout 10s linear forwards;
    		animation: fadeinout 10s linear forwards;
}

.fade1 {
      -webkit-animation: fadeinout1 16s linear forwards;
    		animation: fadeinout1 16s linear forwards;
}

.backgroundfade {
     -webkit-animation: backgroundfade 10s linear forwards;
    		animation: backgroundfade 10s linear forwards;
}

.sat {
	position: absolute;
	width: 26.6%;
  top: 9%;
}

.sat1 {
	-webkit-animation: sat1 10s linear forwards;
    		animation: sat1 10s linear forwards;
}

.sat2 {
	-webkit-animation: sat2 10s linear forwards;
    		animation: sat2 10s linear forwards;
}

.sat3 {
	-webkit-animation: sat3 10s linear forwards;
    		animation: sat3 10s linear forwards;
}

.heartsLarge {
	position: absolute;
	width: 26.5%;
   left: 71.1%;
   top: 24%;
}

.labs{
  /* left: 38.5%;
  top: 9%;
  width: 10.4%;
  background-color: white;
  padding-bottom: 15px;
  /* opacity: 0.9; */
  position: absolute;
    top: 9%;
    left: 60.8%;
    width: 9.8%;
    background-color: white;
    padding-bottom: 26px;
    /* opacity: 0.9; */
}
/* Musician / Elton John / Moonwalking */
.guitarist {
  position: absolute;
  height: 150px;
  width: auto;
  animation-name: guitarist-moonwalk;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes guitarist-moonwalk {
    0%   {left:71%; top:50%;}
    50%  {left:74%; top:50%;}
    100% {left:71%; top:50%;}
}
/* Bus people */
.swing {
  position: absolute;
  height: 65px;
  width: auto;
  animation-name: swing-walk;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}
@keyframes swing-walk {
    0%   {left:61%; top:102%; transform: rotateY(0deg);}
    49%   {transform: rotateY(0deg);}
    50%  {left:63%; top:102%; transform: rotateY(180deg);}
    99%  {transform: rotateY(180deg);}
    100% {left:61%; top:102%; transform: rotateY(0deg);}
}

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  10%, 90% { opacity: 0.9 }
  25%, 50%, 75% { opacity: 1; }
}

@keyframes fadeinout {
    0%,100% { opacity: 0; }
  5%, 90% { opacity: 0.9 }
  25%, 50%, 75% { opacity: 1; }
}


@-webkit-keyframes fadeinout1 {
  0%,100% { opacity: 0; }
  10%, 98% { opacity: 0.9 }
  25%, 50%, 75% { opacity: 1; }
}

@keyframes fadeinout1 {
    0%,100% { opacity: 0; }
  5%, 98% { opacity: 0.9 }
  25%, 50%, 75% { opacity: 1; }
}

@keyframes fade {
	0%,50%,100% { opacity: 0; }
	25% { opacity: 1;}
}

@keyframes backgroundfade {
	0%,100% { opacity: 0; }
	50% { opacity: 1;}
}

@keyframes sat1 {
	0%,3%,6%,9%,12%,15%,18%,21%,24%,27%,30%,33%,36%,39%,42%,45%,48%,51%,54%,57%,60%,63%,66%,69%,72%,75%,78%,81%,84%,87%,90%,93%,96%,99%{ opacity: 1; }
	1%,4%,7%,10%,13%,16%,19%,22%,25%,28%,31%,34%,37%,40%,43%,46%,49%,52%,55%,58%,61%,64%,67%,70%,73%,76%,79%,82%,85%,88%,91%,94%,97%,100% { opacity: 0;}
}

@keyframes sat2 {
	1%,4%,7%,10%,13%,16%,19%,22%,25%,28%,31%,34%,37%,40%,43%,46%,49%,52%,55%,58%,61%,64%,67%,70%,73%,76%,79%,82%,85%,88%,91%,94%,97%,100%  { opacity: 1; }
	2%,5%,8%,11%,14%,17%,20%,23%,26%,29%,32%,35%,38%,41%,44%,47%,50%,53%,56%,59%,62%,65%,68%,71%,74%,77%,80%,83%,86%,89%,92%,95%,98% { opacity: 0;}
}

@keyframes sat3 {
	2%,5%,8%,11%,14%,17%,20%,23%,26%,29%,32%,35%,38%,41%,44%,47%,50%,53%,56%,59%,62%,65%,68%,71%,74%,77%,80%,83%,86%,89%,92%,95%,98% { opacity: 1; }
	0%,3%,6%,9%,12%,15%,18%,21%,24%,27%,30%,33%,36%,39%,42%,45%,48%,51%,54%,57%,60%,63%,66%,69%,72%,75%,78%,81%,84%,87%,90%,93%,96%,99%{ opacity: 0;}
}

.mario{
    position: absolute;
    height: 50px;
    animation-name: mario-movement;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.yoshi{
    position: absolute;
    height: 40px;
    animation-name: yoshi-movement;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes mario-movement {
    0%   {left:0%;}
    50%  {left:30%;}
    100% {left:100%;}
}
@keyframes yoshi-movement {
    10%   {left:0%;}
    50%  {left:40%;}
    100% {left:100%;}
}


}
